@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #c1c1c1;
}
::-webkit-scrollbar-track {
  padding: 6px;
}

body {
  /*font-family: "Google Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
  font-family: Roboto,sans-serif;
  font-size: 13px;
}

/*Custom btn*/
.btn {
  @apply bg-white flex items-center justify-center focus:outline-none;
  padding: 7px 16px;
  border-radius: 5px;
}
.btn:not(.btn-dropdown):hover {
  box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.09), 0 2px 3px -5px rgba(0, 0, 0, 0.07);
  transform: scale(1.02);
}
.btn:not(.btn-dropdown):active,
.btn:not(.btn-dropdown):active:focus,
.btn:not(.btn-dropdown):active:hover {
  box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.09), 0 2px 3px -5px rgba(0, 0, 0, 0.07);
  transform: scale(1);
  opacity: 0.85;
}
.btn-primary {
  @apply border border-primary-500 text-primary-500 hover:text-primary-600 cursor-pointer
}
.btn-gray {
  @apply border border-gray-500 text-gray-500 hover:text-gray-600 cursor-pointer
}

/*Custom input*/
.input-wrapper:not(.form-error):focus-within {
  @apply border-primary-500;
}
.input-wrapper:not(.form-error):focus-within .input-icon {
  @apply text-primary-500
}
.input-wrapper.form-error {
  @apply border-pink-600
}
.input-wrapper.form-error .input-icon {
  @apply text-pink-600
}
.input-error {
  @apply text-pink-600 font-13
}

/*Custom icon button*/
.icon-button {
  @apply p-2 rounded-full h-6 w-6 hover:bg-gray-200 text-gray-500 flex items-center justify-center cursor-pointer;
}

/*Custom kendo react dropdown*/
.dropdown-wrapper:not(.form-error):focus-within {
  @apply border-primary-500;
}
.dropdown-wrapper:not(.form-error):focus-within .input-icon {
  @apply text-primary-500
}
.dropdown-wrapper.form-error {
  @apply border-pink-600
}
.dropdown-wrapper.form-error .input-icon {
  @apply text-pink-600
}
