:root {
    --nv-primary: #32c072;
    --nv-sidebar-width-icon: '70px';
    --nv-text-primary: #475050;
}

body {
    color: #525c5d;
}

.text-gradient-primary {
    background: -webkit-linear-gradient(310deg, #269157 0%, #2eb069 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-gradient-primary {
    background: linear-gradient(120deg, #3de589 0%, #2aa160 100%);
}

.oblique {
    transform: skewX(-10deg);
    overflow: hidden;
    right: -10rem;
}

.custom-toast svg {
    fill: #fff;
}

.flex-0-0-auto {
    flex: 0 0 auto;
}
.flex-1-1-auto {
    flex: 1 1 auto;
}

.nv-loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.nv-loader div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--nv-primary);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.nv-loader div:nth-child(1) {
    left: 8px;
    animation: nv-loader1 0.6s infinite;
}
.nv-loader div:nth-child(2) {
    left: 8px;
    animation: nv-loader2 0.6s infinite;
}
.nv-loader div:nth-child(3) {
    left: 32px;
    animation: nv-loader2 0.6s infinite;
}
.nv-loader div:nth-child(4) {
    left: 56px;
    animation: nv-loader3 0.6s infinite;
}
@keyframes nv-loader1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes nv-loader3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes nv-loader2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

.width-search {
    width: 600px;
}

.card__item {
    padding: 7px 0;
    min-width: 200px;
}

.screen-icon-title {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: var(--nv-primary);
    border-radius: 3px;
    margin-right: 10px;
}

.main-container {
    background: #fbfcfd;
    float: none;
    overflow: hidden;
}


.dropdown .k-animation-container-relative {
    display: block;
    position: inherit;
}

.dropdown .k-animation-container {
    overflow: inherit;
}

.dropdown-container {
    position: absolute;
    top: 10px;
    background-color: #ffffff;
    box-shadow: 0 5px 15px 1px rgb(0 0 0 / 8%);
    border-radius: 3px;
    font-size: 13px;
    border: 1px solid #f2f4f9;
    min-width: 10rem;
}

.dropdown-container:not(.dropdown-filter) ul li {
    padding: 6px 20px;
}

.dropdown-container:not(.dropdown-filter) ul li:hover {
    cursor: pointer;
    color: var(--nv-primary);
}

.dropdown-container:not(.dropdown-filter) ul li span.item-title {
    transition-property: margin-left;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(.26, .66, .45, .78);
}

.dropdown-container:not(.dropdown-filter) ul li:hover span.item-title {
    margin-left: 3px;
}

.dropdown-container:before {
    top: -8px;
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    background: inherit;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 4px;
    border-top: 1px solid #f2f4f9;
    border-left: 1px solid #f2f4f9;
}

.dropdown-container.right-0:before {
    right: 15px;
}

.dropdown-container.left-0:before {
    left: 15px;
}

.k-checkbox:checked, .k-checkbox.k-checked {
    border-color: var(--nv-primary)!important;
    color: white;
    background-color: var(--nv-primary)!important;
}

.k-checkbox:focus, .k-checkbox.k-focus {
    border-color: var(--nv-primary)!important;
    box-shadow: none!important;
}

/*Tippy box*/
.tippy-box {
    max-width: 550px!important;
    color: var(--nv-text-primary)!important;
    font-size: 13px!important;
}

/*Day picker*/
.DayPicker {
    font-size: 13px!important;
    width: 100%;
}
.DayPicker-Weekday {
    font-size: 13px!important;
}
.DayPicker-Day {
    padding: 0.3rem!important;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
    background-color: var(--nv-primary)!important;
    color: #ffffff!important;
}


/*React tabs*/
.react-tabs__tab-list {
    padding-top: 5px!important;
    margin-left: 10px!important;
    margin-right: 10px!important;
    border-bottom: 1px solid #dee2e6!important;
}

.react-tabs__tab:focus:after {
    background: initial!important;
}

.react-tabs__tab--selected {
    border-bottom: 2px solid var(--nv-primary)!important;
    /*border-bottom: 2px solid var(--nv-primary)!important;*/
    border-top: none!important;
    border-left: none!important;
    border-right: none!important;
    color: var(--nv-primary)!important;
    font-weight: 700;
}

.k-dropdownlist.k-picker {
    border-width: 0;
    background-color: inherit;
    font-family: Roboto,sans-serif;
    font-size: 13px;
    color: var(--nv-text-primary);
}
.k-dropdownlist.k-picker:hover {
    background-color: inherit;
}
.k-dropdownlist.k-picker:focus-within {
    box-shadow: none;
}
.k-dropdownlist .k-input-inner {
    padding: 0 0.25rem!important;
}

/*Custom kendo react dropdown popup*/
.k-animation-container .k-popup.k-list {
    font-family: Roboto,sans-serif;
    font-size: 12px;
    color: var(--nv-text-primary);
}
.k-animation-container .k-popup.k-list .k-list-item {
    padding: 0.5rem 1rem;
}
.k-animation-container .k-popup.k-list .k-list-optionlabel.k-selected {
    background-color: var(--nv-primary);
}
.k-animation-container .k-popup.k-list .k-list-item.k-selected {
    background-color: #ffffff;
    color: var(--nv-primary)
}
.k-animation-container .k-popup.k-list .k-list-filter .k-searchbox.k-input {
    border-color: #ced4da;
    border-top: none;
    border-left: none;
    border-right: none;
}
.k-animation-container .k-popup.k-list .k-list-filter .k-searchbox.k-input input.k-input-inner {
    padding: 0.375rem;
}
.k-animation-container .k-popup.k-list .k-list-filter .k-searchbox.k-input:focus-within {
    box-shadow: none;
}

/*Multiselect*/
.k-multiselect.k-input {
    border-width: 0;
    font-size: 13px;
    color: var(--nv-text-primary);
    font-family: Roboto,sans-serif;
    padding: 2px 0;
}

.k-multiselect.k-input .k-chip {
    font-size: 13px;
}

.k-multiselect.k-input:focus-within {
    box-shadow: none;
    outline: none;
}

.k-list-item.k-focus {
    box-shadow: none!important;
}
