:root {
    --nv-primary: #32c072
}

.text-gradient-primary {
    background: -webkit-linear-gradient(310deg, #269157 0%, #2eb069 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-gradient-primary {
    background: linear-gradient(120deg, #3de589 0%, #2aa160 100%);
}

.oblique {
    transform: skewX(-10deg);
    overflow: hidden;
    right: -10rem;
}

.custom-toast svg {
    fill: #fff;
}

.flex-0-0-auto {
    flex: 0 0 auto;
}
.flex-1-1-auto {
    flex: 1 1 auto;
}

.nv-loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.nv-loader div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--nv-primary);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.nv-loader div:nth-child(1) {
    left: 8px;
    animation: nv-loader1 0.6s infinite;
}
.nv-loader div:nth-child(2) {
    left: 8px;
    animation: nv-loader2 0.6s infinite;
}
.nv-loader div:nth-child(3) {
    left: 32px;
    animation: nv-loader2 0.6s infinite;
}
.nv-loader div:nth-child(4) {
    left: 56px;
    animation: nv-loader3 0.6s infinite;
}
@keyframes nv-loader1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes nv-loader3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes nv-loader2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

.main-container {
    background: #fbfcfd;
    border-left: 1px solid #f2f4f9;
}








.sidebar {
    min-height: calc(100vh);
    background: #ffffff;
    font-weight: normal;
    padding: 0;
    width: 260px;
    z-index: 11;
    transition: width 0.25s ease, background 0.25s ease;
    -webkit-transition: width 0.25s ease, background 0.25s ease;
    -moz-transition: width 0.25s ease, background 0.25s ease;
}

.sidebar .sidebar-brand-wrapper {
    transition: width 0.25s ease, background 0.25s ease;
    -webkit-transition: width 0.25s ease, background 0.25s ease;
    -moz-transition: width 0.25s ease, background 0.25s ease;
    background: #ffffff;
    width: 244px;
    height: 70px;
}

@media (max-width: 991px) {
    .sidebar .sidebar-brand-wrapper {
        width: 55px;
    }
}

.sidebar .sidebar-brand-wrapper .sidebar-brand {
    color: #38425e;
    font-size: 1.5rem;
    line-height: 48px;
    margin-right: 0;
    width: 100%;
}

.sidebar .sidebar-brand-wrapper .sidebar-brand:active,
.sidebar .sidebar-brand-wrapper .sidebar-brand:focus,
.sidebar .sidebar-brand-wrapper .sidebar-brand:hover {
    color: #252b3e;
}

.sidebar .sidebar-brand-wrapper .sidebar-brand img {
    width: calc(244px - 120px);
    max-width: 100%;
    height: 28px;
    margin: auto;
    vertical-align: middle;
}

.sidebar .sidebar-brand-wrapper .sidebar-brand.brand-logo-mini {
    display: none;
}

.sidebar .sidebar-brand-wrapper .sidebar-brand.brand-logo-mini img {
    width: calc(70px - 50px);
    max-width: 100%;
    height: 28px;
    margin: auto;
}

.sidebar .nav {
    overflow: hidden;
    flex-wrap: nowrap;
    flex-direction: column;
    padding-bottom: 30px;
}

.sidebar .nav .nav-item {
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
    transition-property: background;
    -webkit-transition-property: background;
    padding-right: 20px;
}

.sidebar .nav .nav-item.menu-items .nav-link:hover .menu-icon {
    color: var(--nv-primary);
}
.sidebar .nav .nav-item.menu-items .nav-link:hover .menu-title {
    color: var(--nv-primary);
}
.sidebar .nav .nav-item.menu-items .nav-link:hover .menu-arrow {
    color: var(--nv-primary);
}

.sidebar .nav .nav-item .collapse {
    z-index: 999;
}

.sidebar .nav .nav-item .nav-link {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    white-space: nowrap;
    padding: 0 10px;
    color: #525c5d;
    height: 40px;
}

.sidebar .nav .nav-item .nav-link.sub {
    height: 33px;
}

.sidebar .nav .nav-item .nav-link:hover .menu-title {
    margin-left: 5px;
}

.rtl .sidebar .nav .nav-item .nav-link span.menu-icon {
    margin-left: 0;
    margin-right: auto;
}

.sidebar .nav .nav-item .nav-link span.menu-icon:before {
    vertical-align: middle;
}

.sidebar .nav .nav-item .nav-link span.menu-arrow {
    font-size: 14px;
    margin-left: auto;
    color: #525c5d;
}

.sidebar .nav .nav-item .nav-link .menu-title {
    color: inherit;
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(.26,.66,.45,.78);
    transition-property: margin-left;
}

.sidebar .nav .nav-item .nav-link .badge {
    margin-right: auto;
    margin-left: 1rem;
}

.sidebar .nav .nav-item.active>.nav-link {
    background: #0f1015;
    position: relative;
}

.sidebar .nav .nav-item.active>.nav-link:before {
    content: "";
    width: 3px;
    height: 100%;
    background: #0090e7;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
}

.sidebar .nav .nav-item.active>.nav-link .menu-title {
    color: #ffffff;
}

.sidebar .nav .nav-item.active>.nav-link i {
    color: #ffffff;
}

.sidebar .nav .nav-item.nav-profile .nav-link {
    height: auto;
    line-height: 1;
    border-top: 0;
    padding: 1.25rem 0;
}

.sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-image {
    width: 44px;
    height: 44px;
}

.sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-image img {
    width: 44px;
    height: 44px;
    border-radius: 100%;
}

.sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-text {
    margin-left: 1rem;
}

.rtl .sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-text {
    margin-left: auto;
    margin-right: 1rem;
}

.sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-badge {
    font-size: 1.125rem;
    margin-left: auto;
}

.rtl .sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-badge {
    margin-left: 0;
    margin-right: auto;
}

.sidebar .nav .nav-item.sidebar-actions {
    margin-top: 1rem;
}

.sidebar .nav .nav-item.sidebar-actions .nav-link {
    border-top: 0;
    display: block;
    height: auto;
}

.sidebar .nav .nav-item.profile {
    padding-right: 0;
}

.sidebar .nav .nav-item.profile .profile-desc {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.17rem 0.6rem 1.17rem;
}

.sidebar .nav .nav-item.profile .profile-desc .profile-name {
    margin-left: 1rem;
}

.sidebar .nav .nav-item.profile .profile-desc .profile-name span {
    font-size: 12px;
    color: #6c7293;
    white-space: nowrap;
}

.sidebar .nav .nav-item.profile .profile-desc .profile-name h5 {
    white-space: nowrap;
}

.sidebar .nav .nav-item.profile .profile-desc .profile-pic {
    display: flex;
    align-items: center;
}

.sidebar .nav .nav-item.profile .profile-desc .profile-pic .count-indicator {
    position: relative;
}

.sidebar .nav .nav-item.profile .profile-desc .profile-pic .count-indicator .count-symbol,
.sidebar .nav .nav-item.profile .profile-desc .profile-pic .count-indicator .count-number {
    position: absolute;
    border-radius: 100%;
    border: 2px solid #191c24;
}

.sidebar .nav .nav-item.profile .profile-desc .profile-pic .count-indicator .count-symbol {
    top: 17px;
    right: -3px;
    width: 10px;
    height: 10px;
}

.sidebar .nav .nav-item.profile .profile-desc .profile-pic .count-indicator .count-number {
    min-width: 14px;
    height: 14px;
    font-size: .5rem;
    color: #ffffff;
    bottom: 16px;
    right: -5px;
    line-height: 1;
    text-align: center;
}

.sidebar .nav .nav-item.profile .profile-desc .profile-pic .count-indicator:after {
    display: none;
}

.sidebar .nav .nav-item.profile .profile-desc .profile-pic .count-indicator .count {
    position: absolute;
    left: 66%;
    width: 10px;
    height: 10px;
    color: #ffffff;
    border-radius: 100%;
    text-align: center;
    font-size: .625rem;
    line-height: 1.5;
    top: 29px;
    border: 2px solid #fbfcfd;
}

.sidebar .nav .nav-item.profile .profile-desc .mdi-dots-vertical {
    font-size: 20px;
    color: #6c7293;
}

.sidebar .nav .nav-item.profile .profile-desc .dropdown-menu {
    padding: 0;
    margin-top: 1.25rem;
}

.sidebar .nav .nav-item.profile .profile-desc .dropdown-menu .dropdown-item {
    padding: 11px 13px;
}

.sidebar .nav .nav-item.profile .profile-desc .dropdown-menu .dropdown-item.preview-item {
    align-items: center;
}

.sidebar .nav .nav-item.profile .profile-desc .dropdown-menu .dropdown-item.preview-item .preview-thumbnail .preview-icon {
    width: 30px;
    height: 30px;
}

.sidebar .nav .nav-item.profile .profile-desc .dropdown-menu .dropdown-item.preview-item .preview-thumbnail .preview-icon i {
    font-size: 0.875rem;
}

.sidebar .nav .nav-item.profile .profile-desc .dropdown-menu .dropdown-item:hover {
    color: inherit;
}

.sidebar .nav .nav-item.profile .profile-desc .dropdown-menu .dropdown-divider {
    margin: 0;
}

.sidebar .nav .nav-item.nav-category {
    padding: 0.5rem 1.188rem;
    line-height: 1;
}

.sidebar .nav .nav-item.nav-category .nav-link {
    color: #6c7293;
    font-weight: 500;
    font-size: 16px;
    height: auto;
    padding-left: 0;
}

.sidebar .nav .nav-item .menu-icon {
    margin-right: 0.25rem;
    width: 31px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .nav.sub-menu {
    margin-bottom: 0;
    margin-top: 0;
    padding: 0 0 0 2rem;
    list-style: none;
}

.sidebar .nav.sub-menu .nav-item {
    padding: 0;
}

.sidebar .nav.sub-menu .nav-link {
    padding: 0;
}

.sidebar .nav.sub-menu .nav-link .menu-icon {
    font-size: 13px;
}

.sidebar .nav.sub-menu .nav-item .nav-link {
    color: #6c7293;
    padding: 0.5rem 0.35rem;
    position: relative;
    font-size: 0.855rem;
    line-height: 1;
    height: auto;
    border-top: 0;
}

@media (min-width: 992px) {
    .sidebar-icon-only .navbar {
        left: 70px;
    }
    .sidebar-icon-only .navbar .navbar-menu-wrapper {
        width: 100%;
    }
    .sidebar-icon-only .sidebar {
        width: 70px;
    }
    .sidebar-icon-only .sidebar .sidebar-brand-wrapper {
        width: 70px;
    }
    .sidebar-icon-only .sidebar .sidebar-brand-wrapper .brand-logo {
        display: none;
    }
    .sidebar-icon-only .sidebar .sidebar-brand-wrapper .brand-logo-mini {
        display: inline-block;
    }
    .sidebar-icon-only .sidebar .nav {
        overflow: visible;
    }
    .sidebar-icon-only .sidebar .nav .nav-item {
        position: relative;
        padding: 0;
    }
    .sidebar-icon-only .sidebar .nav .nav-item .profile-name {
        display: none;
    }
    .sidebar-icon-only .sidebar .nav .nav-item .mdi-dots-vertical {
        display: none;
    }
    .sidebar-icon-only .sidebar .nav .nav-item.account-dropdown {
        display: none;
    }
    .sidebar-icon-only .sidebar .nav .nav-item .nav-link {
        text-align: center;
    }
    .sidebar-icon-only .sidebar .nav .nav-item .nav-link .menu-title,
    .sidebar-icon-only .sidebar .nav .nav-item .nav-link .badge,
    .sidebar-icon-only .sidebar .nav .nav-item .nav-link .menu-sub-title {
        display: none;
    }
    .sidebar-icon-only .sidebar .nav .nav-item .nav-link .menu-title {
        border-radius: 0 5px 5px 0;
    }
    .rtl.sidebar-icon-only .sidebar .nav .nav-item .nav-link .menu-title {
        border-radius: 5px 0 0 5px;
    }
    .sidebar-icon-only .sidebar .nav .nav-item .nav-link span.menu-icon {
        margin-right: 0;
        margin-left: 0;
    }
    .sidebar-icon-only .sidebar .nav .nav-item .nav-link span.menu-arrow {
        display: none;
    }
    .sidebar-icon-only .sidebar .nav .nav-item .nav-link[aria-expanded] .menu-title {
        border-radius: 0 5px 0 0;
    }
    .rtl.sidebar-icon-only .sidebar .nav .nav-item .nav-link[aria-expanded] .menu-title {
        border-radius: 5px 0 0 0;
    }
    .sidebar-icon-only .sidebar .nav .nav-item.nav-profile {
        display: none;
    }
    .sidebar-icon-only .sidebar .nav .nav-item.nav-category {
        display: none;
    }
    .sidebar-icon-only .sidebar .nav .nav-item.nav-doc {
        margin: 0;
    }
    .sidebar-icon-only .sidebar .nav .nav-item.nav-doc i {
        display: block;
    }
    .sidebar-icon-only .sidebar .nav .nav-item .collapse {
        display: none;
    }
    .sidebar-icon-only .sidebar .nav .nav-item.hover-open .nav-link .menu-title {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        background: #0f1015;
        padding: 0.5rem 1.4rem;
        left: 70px;
        position: absolute;
        text-align: left;
        top: 0;
        bottom: 0;
        width: 190px;
        z-index: 1;
        line-height: 1.8;
    }
    .sidebar-dark.sidebar-icon-only .sidebar .nav .nav-item.hover-open .nav-link .menu-title {
        background: #0f1015;
    }
    .rtl.sidebar-icon-only .sidebar .nav .nav-item.hover-open .nav-link .menu-title {
        left: auto;
        right: 70px;
        text-align: left;
    }
    .sidebar-icon-only .sidebar .nav .nav-item.hover-open .nav-link .menu-title:after {
        display: none;
    }
    .sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapse,
    .sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapsing {
        display: block;
        padding: .5rem 0;
        background: #0f1015;
        border-radius: 0 0 5px 0;
        position: absolute;
        left: 70px;
        width: 190px;
    }
    .sidebar-dark.sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapse,
    .sidebar-dark.sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapsing {
        background: #191c24;
    }
    .rtl.sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapse,
    .rtl.sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapsing {
        left: auto;
        right: 70px;
        border-radius: 0 0 0 5px;
    }
    .sidebar-icon-only .sidebar .nav.sub-menu {
        padding: 0 0 0 1.5rem;
    }
    .sidebar-icon-only .sidebar .nav.sub-menu .nav-item .nav-link {
        text-align: left;
        padding-left: 20px;
    }
    .sidebar-icon-only .sidebar .nav.sub-menu .nav-item .nav-link:before {
        content: "";
        display: inline-block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #6c7293;
        position: absolute;
        left: 0;
    }
    .sidebar-icon-only .sidebar .nav.sub-menu .nav-item .nav-link:hover:before {
        background-color: white;
    }
    .rtl.sidebar-icon-only .sidebar .nav.sub-menu .nav-item {
        margin-left: 0;
    }
    .rtl.sidebar-icon-only .sidebar .nav.sub-menu .nav-item .nav-link {
        text-align: right;
    }
    .rtl.sidebar-icon-only .sidebar .nav.sub-menu .nav-item .nav-link:before {
        left: 0;
        right: unset;
    }
    .sidebar-icon-only .sidebar .sidebar-actions {
        display: none;
    }
    .sidebar-icon-only.rtl .sidebar .nav .nav-item.profile {
        padding-right: 0;
    }
    .sidebar-icon-only .page-body-wrapper {
        width: calc(100% - 70px);
        transition: all 0.25s ease;
        -webkit-transition: all 0.25s ease;
        -moz-transition: all 0.25s ease;
    }
}


